amqp==5.3.1
APScheduler==3.6.3
asgiref==3.8.1
attrs==25.3.0
beautifulsoup4==4.13.4
billiard==4.2.1
blinker==1.9.0
cachetools==4.2.2
celery==5.5.3
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
click==8.2.0
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cryptography==44.0.3
curl_cffi==0.11.1
dj-database-url==3.0.0
dj-rest-auth==7.0.1
Django==5.2
django-allauth==65.8.0
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dotenv==0.9.9
drf-yasg==1.21.10
filelock==3.18.0
Flask==3.1.1
frozendict==2.4.6
fsspec==2025.3.2
google-auth==2.40.1
google-auth-oauthlib==1.2.2
gspread==6.2.1
gunicorn==23.0.0
h11==0.16.0
httplib2==0.22.0
huggingface-hub==0.30.2
django-widget-tweaks==1.4.12
idna==3.10
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.4.2
